Repository KevinMulcahy/OVS-layer-2-switch, changes with the owners that .github/CODEOWNERS names for each.
All owners: @network-team, @devops-team, @cli-team, @docs-team, @gui-team, @frontend-team, @backend-team, @api-team, @testing-team, @security-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Update test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

patched workflow YAML with the corrected CentOS regex
  .github/workflows/test-discover.yml
Owners: @devops-team

improved Ubuntu fallback logic
  .github/workflows/test-discover.yml
Owners: @devops-team

Fedora fix (using dl.fedoraproject.org)
  .github/workflows/test-discover.yml
Owners: @devops-team

Delete .github/workflows/test-discover.yml
  .github/workflows/test-discover.yml
Owners: @devops-team

Create test-discover-interfaces.yml
  .github/workflows/test-discover-interfaces.yml
Owners: @devops-team

Update test-discover-interfaces.yml
  .github/workflows/test-discover-interfaces.yml
Owners: @devops-team

Update test-discover-interfaces.yml
  .github/workflows/test-discover-interfaces.yml
Owners: @devops-team

Update test-discover-interfaces.yml
  .github/workflows/test-discover-interfaces.yml
Owners: @devops-team

Update test-discover-interfaces.yml
  .github/workflows/test-discover-interfaces.yml
Owners: @devops-team

Update test-discover-interfaces.yml
  .github/workflows/test-discover-interfaces.yml
Owners: @devops-team

Update README.md
  README.md
Owners: @network-team, @devops-team

adding documents
  api_documentation_guide.md
  deployment_guide.md
  dynamic_ovs_guide.md
  gui_guide_complete.md
  mobile_app_guide.md
Owners: @network-team, @devops-team

Create blank
  docs/blank
Owners: @docs-team

Rename api_documentation_guide.md to docs/api_documentation_guide.md
  docs/api_documentation_guide.md
Owners: @docs-team

Rename deployment_guide.md to docs/deployment_guide.md
  docs/deployment_guide.md
Owners: @docs-team

Rename dynamic_ovs_guide.md to docs/dynamic_ovs_guide.md
  docs/dynamic_ovs_guide.md
Owners: @docs-team

Rename gui_guide_complete.md to docs/gui_guide_complete.md
  docs/gui_guide_complete.md
Owners: @docs-team

Rename mobile_app_guide.md to docs/mobile_app_guide.md
  docs/mobile_app_guide.md
Owners: @docs-team

Delete docs/blank
  docs/blank
Owners: @docs-team

.github/CODEOWNERS:

* @network-team @devops-team
/packages/cli/ @cli-team @network-team
/docs/guides/cli-guide.md @cli-team @docs-team
/packages/gui/ @gui-team @frontend-team
/docs/guides/gui-guide.md @gui-team @docs-team
/packages/core/ @backend-team @network-team
/packages/api/ @api-team @backend-team
/docs/guides/api-documentation.md @api-team @docs-team
/config/network/ @network-team
/tools/network-simulator/ @network-team @testing-team
/docs/ @docs-team
/examples/ @docs-team @network-team
/deployment/ @devops-team
/scripts/deploy/ @devops-team
/docs/guides/deployment-guide.md @devops-team @docs-team
/.github/ @devops-team
/scripts/ @devops-team
/security/ @security-team
/SECURITY.md @security-team
/monitoring/ @devops-team @network-team
